*{
  margin: 0;
  border: 0;
  padding: 0;
}

@font-face {
  font-family: 'gotham';
  src: url(fonts/gotham.ttf);
}


img {
  display: block;
}
/*Menu*/

.menu{
  display: flex;
  justify-content: space-between;
  margin: 10%;
}

.menu p {
  font-size: 1.125rem;
  font-family: trajan-pro-3, serif;
  font-weight: 400;
  font-style: normal;
}

a{
  text-decoration: none;
  color: #eae3dc;
  padding: 2%;
  transition: all .2s;

}

a:hover{
  background-color: #eae3dc;
  color: #05121d;
  transition: all .2s;
}

#logo{
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

#logo img {
  width: 30%;
}

/* Homepage */
#home, #about, #country-page{
  background-color: #05121d;
  color: #eae3dc;
  font-family: baskerville-urw, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

#slideshow {
  background-color: lightgrey;
  position: relative;
  height: 400px;
  width: 100%;
  display: flex;
}

#container{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fade-in {
  opacity: 1;
  transition: 1s;
}

.fade-out{
  opacity: 0;
  transition: 1s;
}

.title {
  margin: 5% 10%;
  position: absolute;
  z-index: 1111;
}

h1{
  font-family: 'gotham';
  color: white;
  font-size: 1.875rem;
  letter-spacing: .1em;
  line-height: 1.2em;
}

.controls {
  position: absolute;
  width: 100%;
  z-index: 1111;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
}

.button {
  background-color: rgba(255,255,255,.63);
  border-radius: 50%;
  padding: 8px;
  margin: 0 10% 8% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover{
  background-color: rgba(255,255,255,.9);
  transition: .2s;
}

.arrow-left {
margin-right: 3px;
width: 0;
height: 0;
border-style: solid;
border-width: 7.5px 13.0px 7.5px 0;
border-color: transparent rgba(71,72,72,.2) transparent transparent;
}

.arrow-right {
margin-left: 3px;
width: 0;
height: 0;
border-style: solid;
border-width: 7.5px 0 7.5px 13.0px;
border-color: transparent transparent transparent rgba(71,72,72,.2);
}

.blurb {
  margin: 5% 10%;
}

.blurb p {
font-family: baskerville-urw, serif;
font-weight: 400;
font-style: italic;
margin: 5% 0;
}

/* About Page*/
#about {
  display: flex;
  flex-flow: column;
}

#column1{
  order: 3;
}

#column2{
  margin: 5% 10%;
  order: 1;
}

#column3 {
  order: 2;
  margin: 0 10%;
}

span{
  font-style: italic;
  font-size: .9rem;
}

#column2 h2, #column3 h2 {
  margin: 5% 0;
  font-family: 'gothic';
}

#animals-desktop {
  display: none;
}

#animals-mobile {
  margin: 5% 0;
  height: 400px;
  display: block;
}

#animals-mobile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* Countries Page */

#country-page{
  display: flex;
  flex-flow: column-reverse;
}

.country-img-container{
  width: 100%;
  height: 300px;
}

#country-image{
width: 100%;
height: 100%;
object-fit: cover;
}

#dropdown-container{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
}

#dropdown{
  margin: 5%;
  width: 70%;
  padding: 2%;
  font-family: trajan-pro-3, serif;
  font-weight: 400;
  font-size: .9rem;
  font-style: normal;
  background-color: #2A3035;
  color: #eae3dc;
}

.country-info {
  margin: 2% 10% 0 10%;;
}

#name{
  font-family: "gotham";
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: .1em;
  line-height: 1.2em;
  margin-bottom: 5%;
}


.info{
  display: flex;
  opacity: 0;
  margin-bottom: 2%;
}

.info h4 {
  font-family: trajan-pro-3, serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2em;
}

.info h4::after {
  content: ": ";
}

.info p {
  line-height: 1.2em;
  margin-left: 2%;
}

#blurb {
  margin-bottom: 5%;
}



@media (min-width: 760px){

  /*Home Page*/

  #home{
    display: flex;
    flex-flow: row;
  }

  #slideshow{
    height: 100vh;
    width: 60%;
  }

  #sidebar {
    height: 100vh;
    width: 40%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .title {
    margin: 5%;
  }

  h1{
    font-size: 2.8rem;
  }

  .controls {
    justify-content: flex-start;
  }

  .button {
  margin: 5%;
  }

  .blurb p{
    font-size: .9rem;
  }


  /*Countries Page*/

  #country-page {
    display: flex;
    flex-flow: row;
  }

  #left-side{
    width: 40%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  #right-side {
    width: 60%;
  }

  .country-img-container{
    height: 100vh;
    width: 100%;
  }


}


@media(min-width: 1200px){
  /*Home*/

  #slideshow{
    width: 70%;
  }

  #sidebar{
    width: 30%;
  }

  .blurb p{
    font-size: 1rem;
  }

  h1{
    font-size: 4.2rem;
  }

  /*About*/

  #about{
    height: 100vh;
    display: flex;
    flex-flow: row;
  }

  #column1{
    order: 1;
    width: 33%;
    padding: 2% 2% 0 2%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 95vh;
  }

  #column2{
    margin: 0;
    padding: 2% 2% 0 2%;
    order: 2;
    width: 33%;
    height:95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #column3 {
    padding: 2% 2% 0 2%;
    margin: 0;
    order: 3;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #column2 h2, #column3 h2 {
    margin: 0 0 5% 0;
    font-family: 'gothic';
    font-size: 2rem;
  }

  #column2 p, #column3 p {
    font-size: 1rem;
    margin: 0 0 5% 0 ;
  }

  #animals-mobile {
    display: none;
  }

  #animals-desktop {
    height: 500px;
    display: block;
  }

  #animals-desktop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*Countries*/

  #left-side{
    width: 30%;
  }

  #right-side {
    width: 70%;
  }


}
